Package: com.satbirtanda.wechatvideodownloader
Name: WeChatVideoDownloader
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Satbir Tanda
Author: Satbir Tanda
Section: Tweaks
